
.optimum_pump {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #87ea2d;
    border: 1px solid #000;
    margin-right: 2%;
    margin-top: 0.3%;
  }
  
  .under_pump {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #ffa220;
    border: 1px solid #000;
    margin-right: 2%;
    margin-top: 0.3%;
  }
  
  .over_pump {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #ff6b6b;
    border: 1px solid #000;
    margin-right: 2%;
    margin-top: 0.3%;
  }