<app-common-header [title]="CurrenPageTitle"></app-common-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <app-sub-header
      [textTitle]="titleData"
      [arrayList]="data"
      (searchText)="getInputValue($event) "
      (type)="getTypeValue($event) "
      (status)="getStatusValue($event) "
      (filterButton)="getFilteredValue($event)"
    ></app-sub-header>
  </div>
  <ion-toggle
    [(ngModel)]="themeToggle"
    (ionChange)="toggleChange($event)"
    justify="space-between"
    >Dark Mode</ion-toggle
  >

  <!-- <app-text-input></app-text-input> -->
  <!-- <app-loader></app-loader> -->

  <!-- <ion-button id="open-loading">Show Loading</ion-button>
  <ion-loading
  class="custom-loading"
  trigger="open-loading"
  message="Loading..."
  [duration]="3000"
></ion-loading>  -->
  <!-- [ngClass]="  i == 0 ? 'expleft_optimum_pump':( i==1 ?'expleft_overpump':'expleft_under_pump ')" -->
  <ion-content>
    <ion-accordion-group [multiple]="true">
      <ion-accordion
        [ngClass]=" themeToggle ? 'item-background-color_dark':'item-background-color_light' "
        *ngFor="let item of results; let i= index"
      >
        <ion-item
          slot="header"
          [ngClass]="  item?.wellStatus == 'Optimum Pumping' ? 'expleft_optimum_pump':( item?.wellStatus == 'Over Pumping' ?'expleft_overpump':'expleft_under_pump ')"
        >
          <!-- <div>
          <div style="flex : 1;flex-direction: row; display: flex;">
            <p>well name</p>
            <p>dot</p>
            <p>status</p>
          </div>
          <div style="flex : 1;flex-direction: row;  display: flex;">
            <p>date</p>
            <p>wifi</p>
            <p>well img</p>
          </div>
        </div> -->

          <!-- <div>
          <div style="flex : 1;flex-direction: row; display: flex;">
            <div style ="width: 40%;">
            <p
              [ngClass]="i == 0 ? 'optimum_pump_label_color':( i==1 ?'over_pump_label_color': themeToggle ?'under_pump_label_color_dark':'under_pump_label_color')"
            >
              {{item?.wellName}}
            </p>
          </div>
          <div style ="width: 5%;">
            <p
            [ngClass]="i == 0 ? 'optimum_pump':( i==1 ?'over_pump':'under_pump')"
          ></p>
          </div>

          <div
          [ngClass]="i == 0 ? 'optimum_pump_label_status':( i==1 ?'over_pump_label_status':'under_pump_label_status')"
        >
          <p *ngIf="i == 0">Optimum Pumping(PF 90%)</p>

          <p *ngIf="i == 1">Over Pumping (PF 70%)</p>

          <p *ngIf="i != 1 && i != 0">Under Pumping(PF 30%)</p>
        </div>
          </div>
          

          <div style="flex : 1;flex-direction: row;  display: flex;">
            <p
            style="
              color: #7f8590;
              font-size: 12px;
              font-weight: 500;
              font-family: 'SLBSans' !important;
            "
          >
            {{item?.dateTime}}
          </p>
          <div style="padding-left: 3%; padding-right: 3%">
           
            <ion-img
              *ngIf=" i == 1; else wifired "
              src="../../../assets/icon/wifi_red.png"
              alt=""
            ></ion-img>
            <ng-template #wifired>
              <ion-img
                *ngIf="themeToggle == true"
                src="../../../assets/icon/wifi.png"
                alt=""
              ></ion-img>

              <ion-img
                *ngIf="themeToggle == false"
                src="../../../assets/icon/wifi_light.png"
                alt=""
              ></ion-img>
            </ng-template>
          </div>
          <div>
          <ion-img
          *ngIf=" i == 0; "
          style="height: 20px; width: 20px"
          src="../../../assets/icon/well_green.png"
          alt=""
        ></ion-img>

        <ion-img
          *ngIf=" i == 1; else welloverflow "
          style="height: 20px; width: 20px"
          src="../../../assets/icon/well_red.png"
          alt=""
        ></ion-img>

        <ng-template #welloverflow>
          <ion-img
            *ngIf="i != 0 && themeToggle == true"
            style="height: 20px; width: 20px"
            src="../../../assets/icon/well.png"
            alt=""
          ></ion-img>
          <ion-img
            *ngIf=" i != 0 &&  themeToggle == false"
            style="height: 20px; width: 20px"
            src="../../../assets/icon/well_black.png"
            alt=""
          ></ion-img>
        </ng-template>
      </div>
          </div>
        </div> -->
          <!-- [ngClass]="i == 0 ? 'optimum_pump_label_color':( i==1 ?'over_pump_label_color': themeToggle ?'under_pump_label_color_dark':'under_pump_label_color')" -->
          <div>
            <p
              [ngClass]="item?.wellStatus == 'Optimum Pumping'? 'optimum_pump_label_color':( item?.wellStatus == 'Over Pumping'?'over_pump_label_color': themeToggle ?'under_pump_label_color_dark':'under_pump_label_color')"
            >
              {{item?.wellName}}
            </p>
            <p
              style="
                color: #7f8590;
                font-size: 11px;
                font-weight: 500;
                font-family: 'SLBSans' !important;
              "
            >
              {{item?.dateTime}}
            </p>
          </div>
          <!-- [ngClass]="i == 0 ? 'optimum_pump':( i==1 ?'over_pump':'under_pump')" -->
          <div style="padding-left: 3%; padding-right: 3%">
            <p
              [ngClass]="item?.wellStatus == 'Optimum Pumping' ? 'optimum_pump':( item?.wellStatus == 'Over Pumping' ?'over_pump':'under_pump')"
            ></p>
            <ion-img
              *ngIf=" item?.wellStatus == 'Over Pumping'; else wifired "
              style="width: 20px; height: 20px"
              src="../../../assets/icon/wifi_red.png"
              alt=""
            ></ion-img>

            <ng-template #wifired>
              <ion-img
                *ngIf="themeToggle == true"
                style="width: 20px; height: 20px"
                src="../../../assets/icon/wifi.png"
                alt=""
              ></ion-img>

              <ion-img
                *ngIf="themeToggle == false"
                style="width: 20px; height: 20px"
                src="../../../assets/icon/wifi_light.png"
                alt=""
              ></ion-img>
            </ng-template>
          </div>

          <div>
            <div
              [ngClass]="item?.wellStatus == 'Optimum Pumping' ? 'optimum_pump_label_status':( item?.wellStatus == 'Over Pumping' ?'over_pump_label_status':'under_pump_label_status')"
            >
              <p *ngIf="item?.wellStatus == 'Optimum Pumping'">
                Optimum Pumping(PF 90%)
              </p>

              <p *ngIf="item?.wellStatus == 'Over Pumping'">
                Over Pumping (PF 70%)
              </p>

              <p *ngIf="item?.wellStatus == 'Under Pumping'">
                Under Pumping(PF 30%)
              </p>
            </div>

            <ion-img
              *ngIf="item?.wellStatus == 'Optimum Pumping'"
              style="height: 20px; width: 20px"
              src="../../../assets/icon/well_green.png"
              alt=""
            ></ion-img>

            <ion-img
              *ngIf="item?.wellStatus == 'Over Pumping'"
              style="height: 20px; width: 20px"
              src="../../../assets/icon/well_red.png"
              alt=""
            ></ion-img>

            <ion-img
              *ngIf="item?.wellStatus == 'Under Pumping' &&  themeToggle == false"
              style="height: 20px; width: 20px"
              src="../../../assets/icon/well_black.png"
              alt=""
            ></ion-img>

            <ion-img
              *ngIf="item?.wellStatus == 'Under Pumping' &&  themeToggle == true"
              style="height: 20px; width: 20px"
              src="../../../assets/icon/well.png"
              alt=""
            ></ion-img>

            <!-- <ng-template #welloverflow>
              <ion-img
                *ngIf="i != 0 && themeToggle == true"
                style="height: 20px; width: 20px"
                src="../../../assets/icon/well.png"
                alt=""
              ></ion-img>
              <ion-img
                *ngIf=" i != 0 &&  themeToggle == false"
                style="height: 20px; width: 20px"
                src="../../../assets/icon/well_black.png"
                alt=""
              ></ion-img>
            </ng-template> -->
          </div>
        </ion-item>
        <div slot="content" (click)="navigateTo(item)">
          <div
            [ngClass]=" themeToggle ? 'dropdownitem_dark':'dropdownitem_light' "
          >
            <div
              style="
                width: 100%;
                display: inline-flex;
                flex: 1;
                flex-direction: row;
                border-radius: 10px;
                margin-left: 1%;
                margin-right: 1%;
                margin-top: -2%;
              "
            >
              <div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    height: auto;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'spmLabel_dark':'spmLabel_light' "
                  >
                    SPM
                  </p>
                  <p
                    style="
                      padding-top: 6%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.spm}}
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    height: auto;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'effectiveRunTime_dark':'effectiveRunTime_light' "
                  >
                    Effective Runtime(%)
                  </p>
                  <p
                    style="
                      padding-top: 6%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.effectiveRuntimePercentage}}%
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    height: auto;
                    margin-bottom: -20%;
                  "
                >
                  <p [ngClass]=" themeToggle ? 'minMax_dark':'minMax_light' ">
                    Min/Max load(%)
                  </p>
                  <p
                    style="
                      padding-top: 6%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.minMaxloadPercentage}}%
                  </p>
                </div>
              </div>

              <div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'pumpfilling_dark':'pumpfilling_light' "
                  >
                    Pumping Fillage
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.pumpFillage}}
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'cyclesToday_dark':'cyclesToday_light' "
                  >
                    Cycles Today
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.cyclesToday}}
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -20%;
                  "
                >
                  <p [ngClass]=" themeToggle ? 'gearbox_dark':'gearbox_light' ">
                    Gearbox Load(%)
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.gearBoxLoadPercentage}}%
                  </p>
                </div>
              </div>

              <div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'inferredproduction_dark':'inferredproduction_light' "
                  >
                    Inferred Production
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.inferredProduction}}
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -20%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'structuralLoad_dark':'structuralLoad_light' "
                  >
                    Structural Load
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.structuralLoadPercentage}}%
                  </p>
                </div>
                <div
                  style="
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    margin-bottom: -10%;
                  "
                >
                  <p
                    [ngClass]=" themeToggle ? 'rodStress_dark':'rodStress_light' "
                  >
                    Rod Stress(%)
                  </p>
                  <p
                    style="
                      padding-top: 5%;
                      color: #7f8590;
                      font-family: 'SLBSans' !important;
                      font-weight: 500;
                      font-size: 14px;
                    "
                  >
                    {{item?.rodStressPercentage}}%
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-content>
