<app-common-header [title]="CurrenPageTitle"></app-common-header>
<ion-content [fullscreen]="true">
  <div class="header">
    <app-sub-header [textTitle]="titleData" [arrayList]="data" (searchText)="getInputValue($event) "
      (type)="getTypeValue($event) " (status)="getStatusValue($event) "
      (filterButton)="getFilteredValue($event)"></app-sub-header>
  </div>
  <ion-list no-padding no-margin>
    <ion-item *ngFor="let item of results; let i= index" slot="header" class="con1">
      <ion-column class="sitem">

        <ion-row [ngClass]="item?.isDetail ? 'checked-radius':''" class="innercon">
          <ion-column *ngIf="!item?.isDetail" class="container1"
            [ngClass]="item?.status =='Over Pumping' ? 'ritem-checked':( item?.status == 'Optimum Pumping' ?'gitem-checked':'yitem-checked')">
            <ion-row class="c1">
              <p class="ptitle"
                [ngClass]="item?.status =='Over Pumping' ? 'pred':( item?.status == 'Optimum Pumping' ?'pgreen':'pyellow')">
                {{item?.well_name}}</p>
              <ion-icon *ngIf="item?.status =='Over Pumping'" [src]="Rswatch"></ion-icon>
              <ion-icon *ngIf="item?.status =='Under Pumping'" [src]="Yswatch"></ion-icon>
              <ion-icon *ngIf="item?.status =='Optimum Pumping'" [src]="Gswatch"></ion-icon>
              <span class="sptitle"
                [ngClass]="item?.status =='Over Pumping' ? 'pred':( item?.status == 'Optimum Pumping' ?'pgreen':'pyellow')">{{item?.status}}
                (PF 90%)</span>
            </ion-row>
            <ion-row class="c2">
              <p class="p1">{{item?.time}}</p>
              <ion-icon *ngIf="item?.status =='Over Pumping'" [src]="WifiOffline"></ion-icon>
              <ion-icon *ngIf="item?.status !='Over Pumping'" [src]="WWifiOffline"></ion-icon>
              <ion-icon *ngIf="item?.status =='Over Pumping'" [src]="Mining"></ion-icon>
              <ion-icon *ngIf="item?.status !='Over Pumping'" [src]="WMining"></ion-icon>
            </ion-row>
          </ion-column>
          <ion-column *ngIf="item?.isDetail" class="container1 checked-item">
            <ion-row class="c1">
              <p class="ptitle" style="color: #FFF !important;">{{item?.well_name}}</p>
              <ion-icon [src]="Wswatch"></ion-icon>
              <span class="sptitle" style="color: #FFF !important;">{{item?.status}} (PF 90%)</span>
            </ion-row>
            <ion-row class="c2">
              <p class="p1">{{item?.time}}</p>
              <ion-icon [src]="WWifiOffline"></ion-icon>
              <ion-icon style="margin-left: 10px;" [src]="WMining"></ion-icon>
            </ion-row>
          </ion-column>
          <ion-icon *ngIf="!item?.isDetail" (click)="openDetail(i)" [src]="ArrowUp"></ion-icon>
          <ion-icon *ngIf="item?.isDetail" (click)="openDetail(i)" [src]="ADown"></ion-icon>
        </ion-row>

        <ion-item *ngIf="item?.isDetail" class="checked-container">
          <ion-row class="c1">
            <ion-column class="c11">
              <ion-row class="c21">
                <p>SPM </p>
                <span>50</span>
              </ion-row>
              <ion-row class="c21">
                <p>Effective Runtime (%)</p>
                <span>20%</span>
              </ion-row>
              <ion-row class="c21">
                <p>Min/Max Load (%)</p>
                <span>23.5%</span>
              </ion-row>
            </ion-column>
            <ion-column class="c12">
              <ion-row class="c22">
                <p>Pump Fillage</p>
                <span>50%</span>
              </ion-row>
              <ion-row class="c22">
                <p>Cycles Today</p>
                <span>20%</span>
              </ion-row>
              <ion-row class="c22">
                <p>Gearbox Load (%)</p>
                <span>23.8%</span>
              </ion-row>
            </ion-column>
            <ion-column class="c13">
              <ion-row class="c33">
                <p>Inferred Production (bpd) </p>
                <span>50</span>
              </ion-row>
              <ion-row class="c33">
                <p>Structural Load</p>
                <span>50</span>
              </ion-row>
              <ion-row class="c33">
                <p>Rod Stress (%)</p>
                <span>50</span>
              </ion-row>
            </ion-column>
          </ion-row>
        </ion-item>

      </ion-column>
    </ion-item>
  </ion-list>
</ion-content>