.div1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #080912;

  .div2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    justify-items: center;
    align-items: center;

    p {
      color: #fff !important;
      padding-left: 15px;
      margin: 0px;
      font-size: 20px;
      height: 48px;
      padding-top: 10px;
    }
  }

  .div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    justify-items: center;
    align-items: center;

    ion-icon {
      width: 28px;
      height: 28px;
      margin-right: 15px;
      color: #fff !important;
      margin-bottom: 5px;
    }
  }
}

.comments-icon {
  height: 22px;
  width: 22px;
  margin-right: 15px;
  font-size: 15px;
}

// ion-modal {
//     --height: 50%;
//     --width:70%;
//     --border-radius: 16px;
//     --box-shadow: #6E728D;
//     --background:#6E728D;

//   }

//   ion-modal::part(backdrop) {
//     background: #6E728D;
//     opacity: 1;
//   }

//   ion-modal ion-toolbar {
//     --background: #6E728D;
//     --color: 6E728D;
//   }

ion-modal {
  --height: 32%;
  --width: 70%;
  --border-radius: 16px;
  --box-shadow: #404352;
  --background: #404352;
}

ion-modal::part(backdrop) {
  background: #404352;
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #404352;
  --color: 404352;
}

.daybutton {
  --background: #080912;
  --background-hover: #080912;
  --background-activated: #080912;
  --background-focused: #080912;
  font-size: 10px;
  font-weight: 700;
}

select {
  width: 80% !important;
}

select option {
  width: 80% !important;
}
