<app-common-header [title]="CurrenPageTitle"></app-common-header>
<ion-content [fullscreen]="true">
  <!-- <div class="header">
    <app-sub-header [textTitle]="titleData" [arrayList]="data" (searchText)="getInputValue($event) "></app-sub-header>
  </div> -->
  <div class="container">
    <ion-card class="itemcontainer" *ngFor="let item of results; let i= index">
      <ion-card-content (click)="navigateTo(item)">
        <ion-row>
          <ion-label style="color: #fff; font-size: 18px !important">{{item?.wellName}}</ion-label>
        </ion-row>
        <ion-card-subtitle style="color: #adb1c7; font-size: 12px !important">{{item?.dateTime}}</ion-card-subtitle>
        <p style="color: #fff; font-size: 16px !important">
          Comms Status:{{item?.commsStatus}}
        </p>

        <p style="color: #fff; font-size: 16px !important">
          Controller Status:{{item?.controllerStatus}}
        </p>

        <p style="color: #fff; font-size: 16px !important">
          SPM(dimensionless):{{item?.spm}}
        </p>

        <ion-row style="margin-top: 2%">
          <div *ngIf="item?.wellStatus == 'Under Pumping';" name="logo-ionic" class="under_pump"></div>
          <ion-label *ngIf="item?.wellStatus == 'Under Pumping';"
            style="color: #adb1c7; font-size: 12px !important">Under Pumping</ion-label>

          <!-- <ng-template #message> -->
          <div *ngIf="item?.wellStatus == 'Optimum Pumping';" class="optimum_pump"></div>
          <ion-label *ngIf="item?.wellStatus == 'Optimum Pumping';"
            style="color: #adb1c7; font-size: 12px !important">Optimum Pumping</ion-label>

          <div *ngIf="item?.wellStatus == 'Over Pumping';" class="over_pump"></div>
          <ion-label *ngIf="item?.wellStatus == 'Over Pumping';" style="color: #adb1c7; font-size: 12px !important">Over
            Pumping</ion-label>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>