<!-- <ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open Modal</ion-button>

  <ion-modal #modal trigger="{{trigger}}">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Filter by</ion-title>
          <ion-buttons slot="end">
            <!-- <ion-button color="light" (click)="modal.dismiss()"
              >Close</ion-button
            > -->
            <ion-icon name="close" (click)="modal.dismiss()"></ion-icon>
          </ion-buttons>
        </ion-toolbar>

        <div style="margin-left: 10%">
          <p style ="background-color: #fff;">Alert Type</p>
          <select
            (change)="onChangeType($event)"
            style="
              background-color: #080912;
              border-color: #0c0c6d;
              color: #fff;
            "
            name="cars"
            id="cars"
          >
            <option
              style="background-color: #535353; width: 90px;color: #fff;"
              value="volvo"
            >
              Select Event Type
            </option>
            <option style="background-color: #535353" value="type 1">
              type 1
            </option>
            <option style="background-color: #535353" value="type 2">
              type 2
            </option>
            <option style="background-color: #535353" value="type 3">
              type 3
            </option>
          </select>

          <div style="margin-top: 15%"></div>
          <p>Status</p>
          <select
            (change)="onChangeStatus($event)"
            style="
              background-color: #080912;
              border-color: #0c0c6d;
              color: #fff;
            "
            name="cars"
            id="cars"
          >
            <option
              style="background-color: #535353; width: 90px"
              value="volvo"
            >
              Select Status Type
            </option>
            <option
              style="background-color: #535353; width: 90px"
              value="status 1"
            >
              status 1
            </option>
            <option style="background-color: #535353" value="status 2">
              status 2
            </option>
            <option style="background-color: #535353" value="status 3">
              status 3
            </option>
          </select>
          <div style="align-self: flex-end; margin-left: 50%; margin-top: 10%">
            <ion-button (click)="filterBy()"size="12" slot="end">Apply</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
