<ion-content>
  <ion-card
    style="
      background: #131629;
      box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
      margin-bottom: 0%;
    "
    *ngFor="let item of results; let i = index"
  >
    <ion-card-content (click)="navigateTo(item)">
      <ion-row>
        <ion-label
          style="
            font-family: 'SLBSans';
            font-weight: 700;
            color: #fff;
            font-size: 18px;
          "
          >{{ item?.wellName }}</ion-label
        >
      </ion-row>
      <ion-card-subtitle
        style="
          color: #adb1c7;
          font-size: 12px;
          font-weight: 500;
          font-family: 'SLBSans';
        "
        >{{ item?.dateTime }}</ion-card-subtitle
      >
      <p
        style="
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          font-family: 'SLBSans';
        "
      >
        Comms Status:{{ item?.commsStatus }}
      </p>

      <p
        style="
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          font-family: 'SLBSans';
        "
      >
        Controller Status:{{ item?.controllerStatus }}
      </p>

      <p
        style="
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          font-family: 'SLBSans';
        "
      >
        SPM(dimensionless):{{ item?.spm }}
      </p>

      <ion-row style="margin-top: 2%">
        <div
          *ngIf="item?.wellStatus == 'Under Pumping'"
          name="logo-ionic"
          class="under_pump"
        ></div>
        <ion-label
          *ngIf="item?.wellStatus == 'Under Pumping'"
          style="
            color: #adb1c7;
            font-size: 12px;
            font-weight: 700;
            font-family: 'SLBSans';
          "
          >Medium</ion-label
        >

        <!-- <ng-template #message> -->
        <div
          *ngIf="item?.wellStatus == 'Optimum Pumping'"
          class="optimum_pump"
        ></div>
        <ion-label
          *ngIf="item?.wellStatus == 'Optimum Pumping'"
          style="
            color: #adb1c7;
            font-size: 12px;
            font-weight: 500;
            font-family: 'SLBSans';
          "
          >Low</ion-label
        >

        <div *ngIf="item?.wellStatus == 'Over Pumping'" class="over_pump"></div>
        <ion-label
          *ngIf="item?.wellStatus == 'Over Pumping'"
          style="
            color: #adb1c7;
            font-size: 12px;
            font-weight: 500;
            font-family: 'SLBSans';
          "
          >High</ion-label
        >
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
