<app-common-header [title]="CurrenPageTitle"></app-common-header>
<ion-content [fullscreen]="true">
  <div class="header">
    <app-sub-header [textTitle]="titleData"></app-sub-header>
  </div>
  <ion-content>
    <select
      style="
        background-color: #0b0c18;
        border-color: #0b0c18;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 4%;
        height: 7%;
        width: 90%;
      "
      (change)="onChange($event)"
    >
      <option style="background-color: #535353" value="Well Info">
        Well Info
      </option>
      <option
        style="background-color: #535353; max-width: fit-content"
        value="Dynacard"
      >
        Dynacard
      </option>
      <option
        (click)="dyancard($event)"
        style="background-color: #535353"
        value="Algorithms Mitigations"
      >
        Algorithms & Mitigations
      </option>
      <option style="background-color: #535353; width: 55%" value="Charting">
        Charting
      </option>
      <option style="background-color: #535353; width: 5%" value="Alerts">
        Alerts
      </option>
      <option style="background-color: #535353; width: 55%" value="Event">
        Event Log
      </option>
      <option style="background-color: #535353; width: 55%" value="Telmetry">
        Telmetry & Control
      </option>
    </select>
    <ion-content>

      <app-well-info *ngIf="selectedOption == 'Well Info'"></app-well-info>
      <app-charting *ngIf="selectedOption == 'Charting'"></app-charting>
      <app-dyna-card *ngIf="selectedOption == 'Dynacard'"></app-dyna-card>
      <!-- <app-algorithms-mitigations
        *ngIf="selectedOption == 'Algorithms Mitigations'"
      ></app-algorithms-mitigations> -->
      <app-pie-chart *ngIf="selectedOption == 'Charting'"></app-pie-chart>
      <app-events-log *ngIf="selectedOption == 'Event'"></app-events-log>
      <app-alerts-info *ngIf="selectedOption == 'Alerts'"></app-alerts-info>
      <app-telemetry-control
        *ngIf="selectedOption == 'Telmetry'"
      ></app-telemetry-control>

    </ion-content>

  </ion-content>
</ion-content>
