

ion-modal {
    --height: 70%;
    --width:90%;
    --border-radius: 16px;
    --box-shadow: #404352;
    --background:#404352;
    
  }
  
  ion-modal::part(backdrop) {
    background: #404352;
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #404352;
    --color: 404352;
  }

//   ion-button {
//     --background: #93e9be;
//     --background-hover: #9ce0be;
//     --background-activated: #88f4be;
//     --background-focused: #88f4be;
  
//     --color: blue;
  
//     --border-radius: 0;
//     --border-color: #000;
//     --border-style: solid;
//     --border-width: 1px;
  
//     --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
//     --ripple-color: deeppink;
  
//     --padding-top: 10px;
//     --padding-bottom: 10px;
//   }

.daybutton{
  --background: #080912;
  --background-hover: #080912;
  --background-activated: #080912;
  --background-focused: #080912; 
  font-size: 10px;font-weight: 700;
}