<app-common-header [title]="CurrenPageTitle"></app-common-header>

<ion-content>
  <ion-header collapse="fill">
    <ion-item class="headerTitle">
      <ion-label
        style="font-size: 16px; font-weight: 500; font-family: 'SLBSans'"
        >Well List</ion-label
      >
      <ion-row style="display: flex; justify-content: end">
        <ion-button shape="round">Create Gateway</ion-button>
        <ion-icon
          name="chatbox-outline"
          style="font-size: 25px; margin-top: 5%"
        ></ion-icon>
      </ion-row>
    </ion-item>

    <!-- <ion-item class="headerTitle">
      <ion-select
        style="font-size: 16px"
        label="Telemetry & Control"
        label-placement="fill"
        placeholder="Telemetry"
      >
        <ion-select-option value="1">Telemetry 1</ion-select-option>
        <ion-select-option value="2">Telemetry 2</ion-select-option>
        <ion-select-option value="3">Telemetry 3</ion-select-option>
      </ion-select>
    </ion-item> -->
  </ion-header>

  <ion-content>
    <ion-card
      style="
        background: #131629;
        box-shadow: 0.2px 0px 1px 2px #8b90ad, 0 1px 0px 0 #8b90ad;
      "
      *ngFor="let item of results; let i = index"
    >
      <ion-card-content>
        <ion-card-subtitle
          style="
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            font-family: 'SLBSans';
          "
          >Chord_SRP_Kelter7-1H2_</ion-card-subtitle
        >
        <!-- <ion-label style="color: #fff; font-size: 18px !important"
            >Chord_SRP_Test7-1H2</ion-label
          > -->
        <ion-label
          [routerLink]="['/telemetry/telemetry-details']"
          style="color: #fff; 
          font-size: 18px;
          font-weight: 700;
          font-family: 'SLBSans"
          >WillistonNDUSA_402</ion-label
        >
        <!-- <ion-row style="margin-top: 2%">
          <ion-icon name="logo-ionic" color="primary"></ion-icon>
          <ion-label
            style="color: #fff; font-size: 12px;
          font-weight: 500;
          font-family: 'SLBSans"
            >Operational</ion-label
          >
        </ion-row> -->

        <ion-row style="margin-top: 2%">
          <div
            *ngIf="item?.wellStatus == 'Under Pumping'"
            name="logo-ionic"
            class="under_pump"
          ></div>
          <ion-label
            *ngIf="item?.wellStatus == 'Under Pumping'"
            style="
              color: #adb1c7;
              font-size: 12px;
              font-weight: 700;
              font-family: 'SLBSans';
            "
            >Under Pumping</ion-label
          >

          <!-- <ng-template #message> -->
          <div
            *ngIf="item?.wellStatus == 'Optimum Pumping'"
            class="optimum_pump"
          ></div>
          <ion-label
            *ngIf="item?.wellStatus == 'Optimum Pumping'"
            style="
              color: #adb1c7;
              font-size: 12px;
              font-weight: 500;
              font-family: 'SLBSans';
            "
            >Optimum Pumping</ion-label
          >

          <div
            *ngIf="item?.wellStatus == 'Over Pumping'"
            class="over_pump"
          ></div>
          <ion-label
            *ngIf="item?.wellStatus == 'Over Pumping'"
            style="
              color: #adb1c7;
              font-size: 12px;
              font-weight: 500;
              font-family: 'SLBSans';
            "
            >Over Pumping</ion-label
          >
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
